# Python 3.10 
# Do not install TensorFlow or PyTorch via pip unless you're using the NVIDIA-provided .whl files for Jetson. Regular pip packages won't work with GPU on Jetson.
# If you want both TensorFlow and PyTorch: use separate virtual environments or containers.
# Keep your Python version at 3.10 to match the supported NVIDIA builds for Jetson.

# To install opencv, you must do it locally into the venv with python 3.10

numpy
pandas
matplotlib
ipywidgets
ipykernel
ipython
scipy
statsmodels
opencv-python
Pillow
imgaug
tensorflow
tensorflow-hub
datasets
requests
unstructured
pdfplumber
tqdm
setuptools
pytest
black
pylint
jupyterthemes
calmap
ydata-profiling
pyarrow
fastparquet
schedule
pyhive
thrift
thrift_sasl